.componentContainer {
    position: absolute;
    line-height: normal;
    -webkit-transform-origin: 135% 135%;
    -moz-transform-origin: 135% 135%;
    transform-origin: 135% 135%;
}

.transformContainer {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bg {
    width: 100%;
    height: 100%;
}

.reveal.themedArea {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.bg-custom-a0a0a0 { background: #a0a0a0; }
.bg-custom-067fff { background: #067fff; }
.bg-custom-000000 { background: #000000; }